.products-list {
  margin-top: 20px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  position: relative;
}
/* .filter_screen{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #33333360;
  z-index: 99;
} */
/* admin mode/ add new product */
.add_product {
  width: 100%;
  max-width: 500px;
  text-align: center;
  padding: 20px;
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  cursor: pointer;
}
.add_product_txt {
  font-size: 1.2rem;
  font-weight: 800;
  color: #333;
}
.add_product_icon{
  width: 60%;
  height: 200px;
  object-fit: contain;
}
@media only screen and (max-width: 575px) {
  .products-list {
    place-items: center;
  }
}
