.products-list {
  margin-top: 20px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  position: relative;
}

/* admin mode/ add new product */
.add_product {
  width: 100%;
  max-width: 500px;
  text-align: center;
  padding: 20px;
  border: 1px solid #ddd;
  cursor: pointer;
  background-color: #ffffff;
}
.add_product_txt {
  font-size: 1.2rem;
  font-weight: 800;
  margin: 1rem 0;
  color: #ffffff;
  padding: 10px;
  background-color: #01b801;
}
.add_product_icon {
  width: 60%;
  height: 200px;
  object-fit: contain;
}
@media only screen and (max-width: 575px) {
  .products-list {
    place-items: center;
  }
  .add_product_icon {
    width: 60%;
    height: 300px;
  }
}
